.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 200px;
  z-index: 1000;
  transition: all 0.2s ease;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.sidebar .logo img {
  max-width: 100%;
  max-height: 48px;
}

.sidebar .logo a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


.sidebar .logo a h2 {
  color: #fff;
  height: 50px;
}

.is-collapsed .sidebar .logo a h2 {
  font-size: 14px;
}