.tbl__img--preview {
  width: 64px;
  height: 36px;
  object-fit: cover;
  overflow: hidden;
  margin-right: 8px; }

span.text-strike {
  display: block;
  height: 1px;
  background: #ddd;
  margin-top: 24px;
  margin-bottom: 16px;
  position: relative; }
  span.text-strike span {
    position: absolute;
    background: #fff;
    padding: 0 4px;
    top: -16px;
    font-weight: bold; }
