.editable {
  &__upload {
    border-left: 1px solid #ddd;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
}